html{
    height:600px;
    width: 1000px;
}

body{
    margin: 0;
    padding: 0;
    height: 600px;
    width: 1000px;
}

main{
    height: 600px;
    width: 1000px;
}

.barraTop{
    background-color: rgb(4, 15, 39);
    height: 50px;
    width: 1000px;
}

.barraTop img{
    height: 50px;
    width: 100px;
}

.formulario{
    margin-left: 400px;
    margin-top: 50px;
}

form button{
    margin-left: 30px;
}

table{
    margin-top: 50px;
    border: 1px;
    border-style: solid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 20px;
}
