html{
    height:600px;
    width: 1000px;
}

body{
    margin: 0;
    padding: 0;
    height: 600px;
    width: 1000px;
}

main{
    height: 600px;
    width: 1000px;
}

.barraTop{
    background-color: rgb(4, 15, 39);
    height: 50px;
    width: 1000px;
}

.barraTop img{
    height: 50px;
    width: 100px;
}

.formulario{
    margin-left: 320px;
    margin-top: 50px;
}

.formulario h4{
    margin-left: -20px;
}

table{
    margin-top: 50px;
    margin-left: -20px;
    border: 1px;
    border-style: solid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 20px;
}

.formulario h6{
    margin-bottom: 10px;
    margin-left: -322px; 
}
/* Boton checkbox con slide */

.toggle {
margin-bottom: 10px;
margin-left: -322px;
--width: 50px;
--height: calc(var(--width) / 2);
--border-radius: calc(var(--height) / 2);

display: inline-block;
cursor: pointer;
}

.toggle__input {
display: none;
}

.toggle__fill {
position: relative;
width: var(--width);
height: var(--height);
border-radius: var(--border-radius);
background: #dddddd;
transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
background: #009578;
}

.toggle__fill::after {
content: "";
position: absolute;
top: 0;
left: 0;
height: var(--height);
width: var(--height);
background: #ffffff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
border-radius: var(--border-radius);
transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
transform: translateX(var(--height));
}


/* Fin boton Checkbox */