html{
    height:600px;
    width: 1000px;
}

body{
    margin: 0;
    padding: 0;
    height: 600px;
    width: 1000px;
}

main{
    height: 600px;
    width: 1000px;
}

.barraTop{
    background-color: rgb(4, 15, 39);
    height: 50px;
    width: 1000px;
}

.barraTop img{
    height: 50px;
    width: 100px;
}

.formulario{
    margin-left: 250px;
    margin-top: 100px;
}

.formulario input{
    margin-bottom: 20px;
}

.formulario span{
    margin-bottom: 20px;
}

form h2{
    margin-top: 100px;
    margin-left: 400px;
}

form h3{
    margin-top: 10px;
    margin-left: 260px;
}