html{
    height:600px;
    width: 1000px;
}

body{
    margin: 0;
    padding: 0;
    height: 600px;
    width: 1000px;
}

main{
    height: 600px;
    width: 1000px;
}

.barraTop{
    background-color: rgb(4, 15, 39);
    height: 50px;
    width: 1000px;
}

.barraTop img{
    height: 50px;
    width: 100px;
}

.formulario{
    margin-left: 200px;
    margin-top: 50px;
}

.ordenImgTarjeta{
    display: flex;
}

.formularioImg1{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.formularioImg2{
    border-radius: 100%;
    width: 400px;
    height: 250px;
    margin-top: -25px;
}

.formulario h2{
    font-size: 30px;
    margin-left: 10px;
    margin-top: -20px;
}

form button{
    margin-left: 10px;
    margin-bottom: 20px;
}

form .botones{
    margin-left: 20px;
}

form .alinearCompra{
    margin-top: 30px;
    margin-left: 190px;
}

form p{
    margin-left: 200px;
    margin-bottom: 20px;
    margin-top: 40px;
}

table{
    margin-top: 50px;
    border: 1px;
    border-style: solid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px 20px;
    border-radius: 5px;
    margin-left: -100px;
    margin-top: 50px;
}

.container .coin-price{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px #CCC;
    margin: 7px;
}

.container .coin-price .logo{
    width: 70px;
    margin-right: 10px;
}

.container .coin-price .logo img{
    width: 100%;
}

.container .coin-price .logo div{
    display: block;
}

.container .coin-price .logo div h3{
    font-size: 12px;
}

form .ordenarNombre{
    margin-left: 190px;
    margin-bottom: 50px;
}

.oculto {
    margin-left: 60px;
    margin-bottom: 50px;
    display: none;
}

.oculto button{
    margin-top: 16px;
}